.header__lang-link {
  font-family: 'Inter', 'Arial', sans-serif;
  text-decoration: none;
  border: none;
  cursor: pointer;
  color: #fff;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;

}

.header__lang-link:first-child {
  margin-right: 18px;
}

@media screen and (max-width: 320px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }

}
