.header__lang-link {
  text-decoration: none;
  border: none;
  cursor: pointer;
  color: #fff;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.header__lang-link:first-child {
  margin-right: 18px;
}

.header__lang-link:hover {
  transition: opacity .8s linear;
  opacity: .8;
}

@media screen and (max-width: 326px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}
