.page {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'Inter', 'Arial', sans-serif;
  min-width: 320px;
  max-width: 1280px;
  padding: 0;
  margin: 0 auto;
}
