.photo-grid {
  display: grid;
  max-width: 1184px;
  padding: 0 0 92px 0;
  grid-template-columns: repeat(auto-fit, minmax(284px, max-content));
  grid-auto-rows: 213px;
  gap: 16px;
  padding: 0;
  margin: 0 auto;
  justify-content: center;
}

@media screen and (max-width: 1029px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
    grid-auto-rows: 225px;
    gap: 14px;
  }

}

@media screen and (max-width: 940px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, minmax(352px, max-content));
    grid-auto-rows: 264px;
    gap: 16px;
  }

}

@media screen and (max-width: 352px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, minmax(288px, max-content));
    grid-auto-rows: 216px;
    gap: 12px;
  }

}
