/* рассчитал паддинги в процентах от ширины экрана в контрольных точках
для плавности переходов */
.places {
  max-width: 984px;
  padding: 92px 11.57%;
  margin: 0 auto;
}

@media screen and (max-width:1029px) {
  .places {
    max-width: 928px;
    padding: 92px 4.69%;
  }
}

@media screen and (max-width:768px) {
  .places {
    max-width: 720px;
    padding: 92px 3.13%;
  }
}

/* Поскольку картинка должна быть без отступов, отступы для текста
  задаются далее отдельно в place__text.css, а не для всего содержимого блока. */
@media screen and (max-width: 326px) {
  .places {
    max-width: 720px;
    padding: 64px 0;
  }
}
