.footer__autor {
  font-family: 'Inter', 'Arial', sans-serif;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 760px) {
  .footer__autor {
    padding-top: 48px;
  }
}

@media screen and (max-width: 320px) {
  .footer__autor {
    padding-top: 0;
  }
}
