.header {
  /* установили ограничения для секции */
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 1184px;
  min-height: 52px;
  padding: 28px 48px 56px 48px;
  margin: 0;
}
