.footer__link {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: #fff;
  margin: 0 18px 0 0;
  color: #fff;
  cursor: pointer;
  opacity: 1;
  padding: 0;
}

.footer__link:last-child {
  margin-right: 0px;
}

@media screen and (max-width: 326px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
    margin-right: 0px;
  }
}
