.lead__title {
  max-width: 720px;
  color: #fff;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  margin: 0 auto 32px auto;
  padding: 0;
}

/* для экранов с шириной менее 674px - не по заданию, но для лучшей отображаемости */
@media screen and (max-width: 674px) {
  .lead__title {
    font-size: 44px;
    line-height: 50px;
  }
}

@media screen and (max-width: 326px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 16px;
  }
}
