.cover {
  position: relative;
  max-width: calc(100% - 96px);
  height: 740px;
  margin: 0 auto;
}

/* Для сохранения пропорции высоты-ширины фонового изображения
построил график зависимости высоты от ширины по контрольным точкам из задания, и определил
промежуточные примерные значения высоты*/
@media screen and (max-width: 1029px) {
  .cover {
    max-width: 100%;
    max-height: 640px;
  }
}

@media screen and (max-width: 850px) {
  .cover {
    max-height: 540px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    max-height: 480px;
  }
}

@media screen and (max-width: 550px) {
  .cover {
    max-height: 300px;
  }
}

@media screen and (max-width: 326px) {
  .cover {
    max-height: 200px;
  }
}
