.place__link {
  color: #fff;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
}

.place__link:hover {
  transition: opacity .8s linear;
  opacity: .8;
}
