.lead__caption {
  display: block;
  width: 158px;
  font-family: 'Inter', 'Arial', sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
  padding: 0;
  text-align: left;
  margin: 8px 0 0 0;
}

@media screen and (max-width: 768px) {
  .lead__caption {
    padding: 0 0 0 24px;
  }
}

@media screen and (max-width: 320px) {
  .lead__caption {
    padding: 0 0 0 16px;
  }
}
