.cover__title {
  max-width: 560px;
  font-family: 'Inter', 'Arial', sans-serif;
  color: #fff;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  padding: 0;
  margin: 0 auto 32px;
}

/* Чтобы заголовок не выходил за рамки блока */
@media screen and (max-width: 550px) {
  .cover__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
  }
}

@media screen and (max-width: 326px) {
  .cover__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 16px;
  }
}
