.cover__title {
  position: relative;
  z-index: 3;
  max-width: 560px;
  font-family: 'Inter', 'Arial', sans-serif;
  color: #fff;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

@media screen and(max-width: 320px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
  }

}
