.footer {
  max-width: 1280px;
  background-color: #2a2c2f;
  padding: 92px 3.75% 24px 3.75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  flex-wrap: wrap;
}

/* Для корректного отображения ссылок */
@media screen and (max-width: 760px) {
  .footer {
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    padding: 64px 24px 24px 24px;
  }
}
