.place__image {
  max-width: 460px;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: 50% 50%;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .place__image {
    max-width: 440px;
  }
}

@media screen and (max-width: 768px) {
  .place__image {
    max-width: 340px;
  }
}
