.intro__title {
  width: 100%;
  font-family: 'Inter', 'Arial', sans-serif;
  color: #fff;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  margin: 0 0 40px 0;
  padding: 0;
}

@media screen and (max-width: 320px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
}
